.ol-mh-map-view {
  width: 100%;
  height: 100%;
}
.ol-mh-map-view.grab {
  cursor: move;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.ol-mh-map-view.grabbing {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.ol-mh-tooltip {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 1px 4px;
  border: 1px solid #fff;
  border-radius: 3px; 
  font-size: 0.8em;
}

.ol-mh-popup-container {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #aaa;
  bottom: 12px;
  left: -100px;
  width: 280px;
  cursor: auto;
}
.ol-mh-popup-container:after, .ol-mh-popup-container:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-mh-popup-container:after {
  border-top-color: white;
  border-width: 10px;
  left: 100px;
  margin-left: -10px;
}
.ol-mh-popup-container:before {
  border-top-color: #aaa;
  border-width: 11px;
  left: 100px;
  margin-left: -11px;
}
.ol-mh-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  color: #39424a;
}
.ol-mh-popup-closer:hover {
  color: #6b8194;
}
.ol-mh-popup-content {
  font-size: 0.75em;
}
.ol-mh-popup-content .title {
  margin-top: 0;
}

.ol-mh-menu-container {
  position: relative;
  margin: 4px;
}
.ol-mh-menu-button {
  width: 5.2em;
  border: 1px solid #a1a6a9;
  border-radius: 4px;
  background-color: #eef2f7;
  box-shadow: inset 0 -0.55em 1px 0 rgba(0, 22, 50, 0.05);
  padding: 0.15em 0.3em;
  text-align: center;
  font-size: 0.85em;
  cursor: pointer;
  color: #333;
}
.ol-mh-menu-button.active {
  background-color: #677682;
  background-image: none;
  border-color: #929caf;
  color: #f4faff;
}
.ol-mh-menu {
  position: absolute;
  left: calc(100% + 12px);
  top: -5px;
  width: 14em;
  border: 2px solid #929caf;
  border-radius: 5px;
  box-shadow: -1px 1px 4px #555;
  background: #fff;
  padding: 10px;
  text-align: left;
  font-size: 0.8em;
  z-index: 999;
}
.ol-mh-menu:after, .ol-mh-menu:before {
  position: absolute;
  top: 14px;
  right: 100%;
  content: " ";
  height: 0;
  width: 0;
  border: solid transparent;
  pointer-events: none;
}
.ol-mh-menu:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}
.ol-mh-menu:before {
  border-color: rgba(153, 153, 153, 0);
  border-right-color: #929caf;
  border-width: 11px;
  margin-top: -11px;
}
.ol-mh-menu.force-left {
  left: auto;
  right: calc(100% + 12px);
}
.ol-mh-menu.force-left:after, .ol-mh-menu.force-left:before {
  right: auto;
  left: 100%;
}
.ol-mh-menu.force-left:after {
  border-right: none;
  border-left-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}
.ol-mh-menu.force-left:before {
  border-right: none;
  border-left-color: #929caf;
  border-width: 11px;
  margin-top: -11px;
}
.ol-mh-menu input {
  cursor: pointer;
}